html {
    height: 100%;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.blur {
    background-color: rgba(29, 29, 29, 0.55);
    height: inherit;
}

.icon {
    display: inline-block;
    height: 64px;
}

.logo {
    display: inline-block;
    font-size: 1.75em;
    font-weight: bold;
    vertical-align: middle;
}

.content {
    background-color: blue;
}